@charset "utf-8";
/* CSS Document */
body{ width: 100%; padding: 0; }

.form { width: 900px; margin: auto; padding: 0; }

.form input[type=text]{ background: #ebebeb; border-bottom-color: #c6ea7a; color: #339900; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 3px; border: 1px solid #d5d5d5; border-radius: 5px; width: 650px; box-shadow: 1px 1px 2px #C0C0C0 inset; } 

.bouton {-moz-box-shadow: inset 0px -1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;	box-shadow: inset 0px -1px 0px 0px #ffffff; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ); background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf'); background-color: #ededed; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #dcdcdc; display: inline-block; color: #777777; font-family: arial; font-size: 15px; font-weight: 500; padding: 3px 6px; text-decoration: none; text-shadow: 1px 1px 0px #ffffff; }

.bouton:hover {	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ); background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed'); background-color: #dfdfdf; }

.bouton:active { position: relative; top: 1px; }

.bold { font-weight: bold; }

.italic{ font-style: italic; }

.underline{ text-decoration: underline; }

.line {text-decoration: line-through; }